target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/*.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Gradle ###
.gradle
.kotlin
devserver
/hyassets/
/myassets/
/.idea/
gradle.properties

##### VUE PROJECT #####
#temp
/src/vue/*

# Logs
/src/vuelogs
/src/vue*.log
/src/vuenpm-debug.log*
/src/vueyarn-debug.log*
/src/vueyarn-error.log*
/src/vuepnpm-debug.log*
/src/vuelerna-debug.log*

/src/vuenode_modules
/src/vue.DS_Store
/src/vuedist
/src/vuedist-ssr
/src/vuecoverage
/src/vue*.local

# Editor directories and files
/src/vue.vscode/*
/src/vue!.vscode/extensions.json
/src/vue.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

/src/vue.eslintcache

# Cypress
/src/vue/cypress/videos/
/src/vue/cypress/screenshots/

# Vitest
/src/vue__screenshots__/

# Vite
*.timestamp-*-*.mjs

/src/vuedts-generator
/src/vuedts-generator/**

/src/vue.vuetale